<main>
   <h1>Search Book</h1>
   <section id="BooksWrapper">
      <div class="search">
         <input type="text" id="userSearchInput" name="userSearchInput" placeholder="Enter keywords"</input>
         <input type="submit" id="searchButton" value="Search" onclick="fetchSearchResults()" ></input>
      </div>
   </section>
   <div class="loading"></div>
   <ul id="searchResults">
   </ul>
</main>